<h3>Contact Us.</h3>
	<p>We'd be happy to talk with you and discuss how SecurePay can make a difference to your business.</p>
	<p>
		</p><ul>
			<li>T. +971 50 553 2187</li>
			<li>E. <a href="info[at]securepay.ae" rel="nofollow" onclick="this.href='mailto:' + 'info' + '@' + 'securepay.ae'"><span>info</span>&#64;<span>securepay.ae</span></a></li>
		</ul>
	<p></p>
	<h3 class="sendMessage">Or send us a message.</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<label for="name" class="control-label col-xs-2">Name:</label><input name="name" type="text" class="col-sm-5 col-11 float-start" autofocus="">
		</div>
		<div class="form-group">
			<label for="emailAddress" class="control-label col-sm-2 col-12 float-start">Email Address:</label><input name="emailAddress" type="email" class="col-sm-5 col-11 float-start">
		</div>
		<div class="form-group">
			<label for="message" class="control-label col-xs-2">Message:</label><textarea rows="5" class="col-sm-5 col-11 float-start"></textarea>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-xs-10">
				<button type="submit" class="btn btn-success btn-sm">Submit</button>
			</div>
		</div>
	</form>
	<p class="finePrint">EXHILARANT TECHNOLOGIES FZE, a company incorporated with limited liability under &amp; in accordance with the regulations of the Dubai Silicon Oasis Free Zone Authority, UAE, with trade license number DSOA 2246, trading as SECUREPAY.  P.O. Box 342078, Dubai, UAE.</p>