
			body { padding-top: 40px; background-color: #ddd; }
    		a { display: inline-block; font-size: 0.8em; color: #666; }
    		a:hover { color: black; text-decoration: none; }
			
			.panel { border-color: #AFAFAF; }
			.panel .panel-heading { background-color: black; border-bottom-color: #AFAFAF; }
			.panel .panel-heading h3 { margin: 0; color: white; }
			.panel form { max-width: 304px; margin: 0 auto; }
			.panel form input { margin-bottom: 10px; }
			.panel form p { margin-top: 1.5em; font-weight: bold; }
			.panel form button { float: right; margin-top: 5px; margin-bottom: 0.5em; }
			
			.panel p.successMessage { margin-top: 1em; margin-bottom: 2em; text-align: center; color: green; font-weight: normal; }
			.panel p.errorMessage { margin-top: 0; margin-bottom: 2em; color: #a94442; font-weight: normal; }

			.noPointerEvents { pointer-events: none; }
    	