<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
            <div class="card panel-inverse">
                <div class="card-header">
                    <h3>Forgotten Password</h3>
                </div>
                <div class="card-body">
                    <form name="forgottenPassword" action="/forgottenPassword" method="POST" novalidate="true">
                                <input type="hidden" name="_csrf" value="c75af77c-7220-4eb9-85ec-343ad8abc3af">
                                <input type="hidden" name="timezoneOffset" value="-180">
                                <div class="form-group has-error has-danger">
                                    <label for="username" class="control-label">Username:</label>
                                    <input type="text" id="username" name="username" class="form-control" required="" autofocus="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Validation:</label>
                                    <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6Lep1hUUAAAAAIPmTCuQCxfhJbppnznKTlgJ4oi-"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lep1hUUAAAAAIPmTCuQCxfhJbppnznKTlgJ4oi-&amp;co=aHR0cHM6Ly90ZXN0LnNlY3VyZXBheS5hZTo0NDM.&amp;hl=ru&amp;v=rCr6uVkhcBxHr-Uhry4bcSYc&amp;size=normal&amp;cb=c2msgdiah6fn" width="304" height="78" role="presentation" name="a-151tatnugy07" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                                    <input type="hidden" id="hasValidated" value="" required="">
                                </div>
                                <p>We will email you a secure link that will allow you to reset your password.</p> 
                                <button class="btn btn-md btn-success disabled" type="submit">Submit</button>
                            </form>
                        </div>
            </div>
        </div>
    </div>
</div>