
<h3>Introducing SecurePay.</h3>
<p>SecurePay is an automated guest validation and payment system that will message your customers informing them a payment is required, provide a secure link to click on and direct them to a 3D-Secure payment gateway to make payment.</p>
<p>All aspects of SecurePay are configurable and are customised for each customer — from the look and feel of each email to the workflow associated with each payment request. SecurePay also supports <a href="#">on-demand payment requests</a> for any other type of <i>card-not-present</i> payment requirement.</p>
<p>SecurePay has customised solutions for <a href="#">Hotels</a> and <a href="#">Tourism Operators</a> but supports any business that needs to accept credit card payments securely online.</p>

<app-features></app-features>