<h3>Automation.</h3>
	<p>SecurePay's workflow engine allows you to automatically send payment requests and follow-up reminders at set intervals — with optional payment deadlines and recurring transactions.</p>
	<p>You're automatically advised whenever payments are made, when a payer is having problems paying or if a payer hasn't responded to the payment request by a predetermined deadline.</p>
	<p>SecurePay can even extract data from any other IT or accounting systems you may have to generate payment requests automatically.</p>
    <p>All payment requests sent, outstanding workflow actions and payments received are visible from the Workflow Dashboard.</p>
    
    <app-features></app-features>