
    		input:-webkit-autofill::first-line { font-size: 14px; }
    		
    		body { background-color: #ddd; }
    		a { display: inline-block; font-size: 0.8em; color: #333; }
    		a:hover { color: #a94442; text-decoration: none; }
			
			.card { border-color: #AFAFAF; }
			.card .card-header { background-color: black; border-bottom-color: #AFAFAF; }
			.card .card-header h3 { margin: 0; color: white; }
			.card p.errorMessage { margin-top: 0.5em; margin-bottom: 1.5em; color: #a94442; font-weight: normal; }
			.card form button { float:right; margin-top: 5px; }
			.card .card-footer { padding: 5px 15px; }
			
			.glyphy { cursor: pointer; font-weight: normal; }
			.glyphy input { display: none; }
    	