<div class="row row-centered features justify-content-center pt-5">
    <div class="col-sm-2 col-xs-8 col-centered feature automation" routerLinkActive="active">
        <a href="#" [routerLink]="['/','automation']">
            <div class="glyphicon glyphicon-refresh"></div>
            <h3>Automation</h3>
        </a>
    </div>
    <div class="col-sm-2 col-xs-8 col-centered feature" routerLinkActive="active">
        <a href="#" [routerLink]="['/','customisation']">
            <div class="glyphicon glyphicon-cog"></div>
            <h3>Customisation</h3>
        </a>
    </div>
    <div class="col-sm-2 col-xs-8 col-centered feature" routerLinkActive="active">
        <a href="#" [routerLink]="['/','standardisation']">
            <div class="glyphicon glyphicon-check"></div>
            <h3>Standardisation</h3>
        </a>
    </div>
    <div class="col-sm-2 col-xs-8 col-centered feature" routerLinkActive="active">
        <a href="#" [routerLink]="['/','information']">
            <div class="glyphicon glyphicon-signal"></div>
            <h3>Information</h3>
        </a>
    </div>
</div>