<h3>Standardisation.</h3>
	<p>SecurePay makes it simple to manage payment requests sent from different departments or for different types of customer by offering standardised templates that can be selected during the payment request process.</p>
	<p>The different workflows that can be applied to each payment request are templated too. SecurePay places no limit on the number of different workflow templates you may have — and each one is chosen for you automatically based on the criteria you specify.</p> 
    <p>At SecurePay we work with you to set up the templates you need to enable staff with even minimal training to send just the right message, to just the right person at just the right time.</p>
    
<app-features></app-features>