<h3>Information.</h3>
	<p>SecurePay has extensive reporting and auditing capabilties so you can find out exactly what's been sent to each customer, who's made a payment and who's having difficulty paying.</p>
	<p>Reports include:
		</p><ul>
			<li>Payment requests created for a given time period</li>
			<li>Emails that have been sent out to customers</li>
			<li>Payment transactions made — both successful and failures</li>
			<li>Workflow queue monitoring</li>
		</ul>
	<p></p>
    <p>Access to reports is restricted based on the authorities you give to each of your SecurePay users.</p>
    
    <app-features></app-features>